* {
    box-sizing: border-box;
    font-family: 'Didact Gothic', 'Trebuchet MS', 'Lucida /Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding:0;
    color: #808064
}

body {background-color: #e6e6e6;}

.container {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 60px 20px;
}

main {
    padding: 25px 20px;
    border-radius: 5px;
    background-color: rgb(244, 244, 244);
    max-width: 860px;
}

section {padding: 20px;}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    padding: 5px;
}

img {
    border-radius: 50%;
    margin: 10px 20px 10px 8px;
}

.name-picture {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contact {
    justify-self: flex-end;
    padding: 0 15px;
}

.contact p, .contact a {
    color: #e6e6e6;
    font-size: 15px;
    transition: color 0.2s;
}

.contact a:hover {
    color: #c8c9a0;
}


h1 {color:rgb(244, 244, 244);}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #4A4437;
    font-family: 'Alkatra', cursive;
    font-family: 'Trebuchet MS', 'Lucida /Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}

p, li, a, td  {
    text-align:justify;
    line-height: 25px;
}

span {
    font-style: italic;
    font-size: 14px;
    margin-top: 10px;
}

h3, h4, h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {color: #4A4437;}

hr {
    margin-top: 10px;
    margin-bottom: 20px;
}

h4, h3 {text-decoration: underline;}

h5 {
    font-style: italic;
    font-family: 'IBM Plex Serif', serif;
}

.left-indent {
    margin-left: 45px;
    margin-bottom: 10px;
}

.certi-desc, footer li {list-style-type: none;}

.certi-link {
    color: #9B9C72;
    font-size: 15px;
}

.certi-link:hover {
    color: #c8c9a0;
}

footer > div {
    max-width: 860;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    border-top: 1px solid #c5c5c5;
}

.bi {
    margin-right: 20px;
    fill: #808064;
}

.bi:hover, .footer-name:hover {
    fill: #9B9C72;
    color: #9B9C72;
}

.footer-name {
    font-size: 14px;
    text-decoration: none;
}

.gradient-background {
    background: linear-gradient(300deg, #4A4437, #9B9C72, #c8c9a0);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
0% {
    background-position: 0% 50%;
}
50% {
    background-position: 100% 50%;
}
100% {
    background-position: 0% 50%;
}
} 

@media (max-width: 614px) {

    body {padding-bottom: 50px;}

    .container {
        padding: 0;
        margin-bottom: 50px;
        border: 5px solid #e6e6e6;;
        border-width: 10px 5px 0;
    }
    
    main {
        padding: 25px 15px;
    }
    
    section {padding: 15px;}
    
    header {
        flex-direction: column;
        align-content: center;
        border-radius: 5px;
        padding: 5px;
    }
    
    img {
        border-radius: 50%;
        margin: 20px 0 10px 0;
    }
    
    .name-picture {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        align-items: center;
    }
    
    .name h1 {font-size: 25px;}

    .name h1, .name h3 {text-align: center;}

    footer > div {
        min-width: 100;
        padding: 10px;
    }
}




